*{
    background-color: rgba(218, 227, 232, .05);
}

.line{
    display: block;

    width: auto;
    border-bottom: 3px solid rgba(79, 100, 103, 1);

    box-shadow: 0 1px 4px rgba(79, 100, 103, .8);
    box-align: center;
    

}

.container{
    position: relative;
    text-align: center;
  
}

a.adaZuniga {
    font-size: 4vw;
}

.adaZuniga{
    font-weight: normal;
    font-family: "Happy Monkey";
    color: rgb(0, 0, 0, .75);
    text-shadow: 2px 1px 3px rgba(0, 0, 0, .75);

    margin-top: 2.5%;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    text-decoration: none;
  
}

.logoBackground{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}





nav.menu{   
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

    width: 700px;
    height: 50px;
    background-color: rgba(182, 217, 213, .25);

    border:  solid 1px rgb(79, 100, 103);
    border-radius: 10px;
       
    box-shadow: 0 1px 4px rgba(79, 100, 103, 1);
    box-align: center;

    
   }

nav.menu ul li{
    display: inline;
   }
   
nav.menu ul{
    list-style: none;

    margin-top: 15px;

    text-align: center;

    font-weight: normal;
    
}

nav.menu li a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
    padding: 9px;
}





/*UNVISITED LINK*/
a:link#home,
a:link#about,
a:link#projects,
a:link#hobbies,
a:link#contact{
   color: black;
}

/*VISITED LINK*/
a:visited#home,
a:visited#about,
a:visited#projects,
a:visited#hobbies,
a:visited#contact{
    color: black;
    
}

/*HOVERED|MOUSE-OVER*/
a:hover#home,
a:hover#projects,
a:hover#about,
a:hover#hobbies,
a:hover#contact{
    text-decoration: underline ;
    color: black;
   
}

/*ACTIVE|MOUSE-DOWN*/
a:active#hobbies{
    color: black;
}




.centerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    object-fit: contain;

}






h3{
    margin-top: 6px;
    text-decoration: underline;
    font-weight: lighter;
    margin-bottom: 0px;
}

.content{
    display: block;
    border: solid 1px rgb(79, 100, 103);
    border-radius: 10px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    width: 844px;
    height: auto;


    

    background-color: rgba(182, 217, 213, .25);
    box-shadow: 1px 1px 4px rgba(79, 100, 103, .8);


    
    padding-left: 20px;
    padding-right: 20px;
    

    font-family: "Josefin Sans", sans-serif;
    font-weight: lighter;

    font-size: 25px;
}

.content strong {
   font-weight: lighter;  
}

.content em{
    font-style: normal;
    font-weight: lighter;
}







#comments{
    float:right;

    font-family:"Josefin Sans", sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: black;

    width: 130px;
    height: 30px;

    text-align: center;
    line-height: 34px;


    border: solid 1px rgb(79, 100, 103);
    border-radius: 10px;


    background-color: rgba(182, 217, 213, .25);
    box-shadow: 1px 1px 4px rgba(79, 100, 103, .8);

    margin-bottom: 15px;
}





/*UNVISITED LINK*/
a:link#comments{
    color: black;
    text-decoration: none;
   
}

/*VISITED LINK*/
a:visited#comments
{
    color: black;
    
}

/*HOVERED|MOUSE-OVER*/
a:hover#comments,
input[type="submit"]:hover,
input[type="reset"]:hover
{
    color: black;
    border: solid 3px rgb(0, 0, 0);
}

/*ACTIVE|MOUSE-DOWN*/
a:active#comments{
    color: black;
}




a.adaHome h1{
    font-size: 45px;
    margin-top: 40px;
}

.logoBackground2{
    width: 50%;
    height: 50%;
}

h2{
  
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    font-family: "Josefin Sans",sans-serif;
    
    margin-top: 40px;
     text-align: center;

}

figure figcaption{
    text-align: center;
}



.location{
    display: inline-block;
    font-family: "Josefin Sans",sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

input[type="checkbox"]{
    background-color: aqua;
    
}

input[type="text"],
input[type="email"],
input[type="submit"], 
input[type="url"],
input[type="reset"]
{
    background-color: rgba(182, 217, 213, .25);
    box-shadow: 1px 1px 4px rgba(79, 100, 103, .8);
    border: solid 1px rgb(79, 100, 103);
    border-radius: 10px;
    width: auto;
    height: 26px;
}
input[type="submit"],
input[type="reset"]{
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    padding-top: 2px;
}

/*UNVISITED LINK*/
a:link#linkedin,
a:link#github{
    color: black;
    text-decoration: none;
   
}

/*VISITED LINK*/
a:visited#linkedin,
a:visited#github{
    color: black;
    
}

/*HOVERED|MOUSE-OVER*/
a:hover#linkedin,
a:hover#github{
    font-weight: bolder;
}

/*ACTIVE|MOUSE-DOWN*/
a:active#linkedin, 
a:active#github{
    color: black;
}

.comentsLayOut{
    font-family: "Josefin Sans", sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    
    font-size: 25px;
    font-weight: lighter;
}

h2.comentsLayOut{
    font-weight: lighter;
}

textarea{
    display: block;
  
    background-color: rgba(182, 217, 213, .25);
    box-shadow: 1px 1px 4px rgba(79, 100, 103, .8);
    
    border: solid 1px rgb(79, 100, 103);
    border-radius: 10px;
    
    width: 300px;
    height: 100px;

    font-family: "Josefin Sans", sans-serif;

    padding-top: 7px;
}

#contactName::placeholder,
#contactEmail::placeholder,
#cName::placeholder,
#cEmail::placeholder,
#cURL::placeholder,
textarea::placeholder
{
    font-family: "Josefin Sans";
}
